*.class
# Package Files #
*.jar
*.war
*.ear
# Repository #
bin/
GameShared/src-gen/com/whiuk/philip/mmorpg/shared/Messages.java
GameServer/src-gen/com/whiuk/philip/mmorpg/server/game/ai/Messages.java
